@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

      
      html, body, #demo {
    min-height: 100% !important;
    height: 100%;
}



    body{
        font-family: 'Open Sans';
    }

    h1 { font-size: 2.5em; margin: 1em 0; font-family: 'Merriweather'; color:#F5A623; }
      
      h2 { font-size: 1.5em; margin: .67em 0; font-family: 'Merriweather'; color:"#333";}
    
    * {
      padding: 0;
      margin: 0;
      border: 0;
    }

     * {
      padding: 0;
      margin: 0;
      border: 0;
    }

    body {
      background: #fff;
      padding: 0px;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    #bodycopy {
      width: 90%;
      margin-left:5%;

      visibility: ;
      margin: 100px auto;
      background: #fff;
/*
      cursor: hand;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
*/
    }

    #demo .item {
      background: #fff;
    }

    #demo .item:nth-child(2n+0) {
      background: #fff;
    }

    a, a:visited, a:active
    {
        color: #6f9dbc;
        text-decoration:none;
    }

    a:hover
    {
        background-color: ;
        color: #6f9dbc;
        text-decoration: underline #F5A623 ;
    }

