/* colors */
/* light purple: edecf4 */
/* light blue : caeefa */

/***** body stuff *****/

html {
			/*background: url(/img/home-base.jpg) no-repeat center center fixed;*/
			/*
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;*/
		}

body {
	font-family: "Inconsolata";
	font-size: 1.25em;
	color:#aaa;
}

h2 {
	border-left: 50px solid #7e7a8d;
	padding-left:20px;
}

h6 {
	font-size:1em;
	color:#aaa;
}

@media(max-width:940px){

    h6 {font-size:1em}

}

@media(max-width:767px){

    h6 {font-size:1em}

}

@media(max-width:500px){

    h6 {font-size:1em}

}


.morphext > .animated {
    display: inline-block;
}

.hide{
	color:#000;
}

/****** row n col ****/

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

/****** div's *******/

#indexintro {
	position: fixed;
	top: 45%;
	/*background: rgba(255,255,255, 0.85);*/
	padding: 10px;
	padding-right: 10%;
	padding-left: 10%
}

.middling {
	position: fixed;
	top:45%;
	padding-right: 10%;
	padding-left: 10%
}

.foliocontent {
	position: fixed;
	top:5%;
	padding-right: 10%;
	padding-left: 10%
}

#indexmobintro {
	position: fixed;
	padding: 10px;
	color: #ffd396;
}

#pgcontent {
	width: 100%;
	margin-top: 10px;
	padding:5px;
	padding-left: 30px;
	padding-right: 30px;
	opacity:90%;

}

#fullpglimit{
	max-width: 1200px;

}

#fullpg{
	width:100%;
	background: rgba(255,255,255, 0.85);
}

/****** nav ******/

a {
	color: ##60AB88;
}

a:hover{
	color:#92CFC6;
	text-decoration: none;
}

a.mainnav {
	color: #fefef2;
	font-size: 18px;
	font-weight: none;
	padding-bottom: 1px;
}

a.mainnav:hover {
	background-color: transparent;
}

.nav-pills > li > a:hover {
    background-color: transparent;
    border-bottom: 1px solid #ffd396;
    border-radius: 0;
    padding-bottom: 1px;
}

/**lightbox**/
.thumb {
    display: inline-block;
    overflow: hidden;
    height: 150px;
    width: 150px;
}

.thumb img {
    display: block; /* Otherwise it keeps some space around baseline */
    min-width: 100%;    /* Scale up to fill container width */
    min-height: 100%;   /* Scale up to fill container height */
    -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */
}

#lightbox {
	padding-bottom:20px;
	position:relative;
}

#folioGallery img {
	margin: 10px;
	width:20%;
	height:auto;
	opacity:.75;
}

#folioGallery img:hover {
	margin: 10px;
	width:20%;
	height:auto;
	opacity:1;
}

#overlay {
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	display:none;
	text-align: center;
}


#overlay img {
	margin-top: 5%;
	max-height:80%;
	max-width:95%;
}

#overlay p {
	color:#aaa;
}









body {
	background: url("/img/portfolio/2013-blue.jpg") #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
	font: 10pt "Inconsolata";
    background-size: 100%;
}
.info {
	width: 600px;
	background: #FFF;
	text-align: justify;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	color: #666;
}
.stat {
	background: #e1e1e1;
	text-align: center;
	padding: 50px 25px 50px 25px;
	width: 150px;
	height: 100px;
	float: right;
	margin-left: 25px;
}
.teams {
	background: #e1e1e1;
	width: 200px;
	height: 150px;
	padding: 10px;
	border: 20px solid white;
	display: table-cell;
	text-align: center;
}
.general {
	background: #e1e1e1;
	width: 100%;
	height: auto;
	padding: 10px;
	display: table-cell;
	text-align: center;
}
.council {
	background: #e1e1e1;
	width: 250px;
	height: 250px;
	padding: 10px;
	border: 10px solid white;
	display: table-cell;
	text-align: center;
}
#nav {
	background: #120516;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
#nav a {
	font: 12pt "Inconsolata";
	color: #FFF;
}
h2 {
	font: 16pt "Inconsolata";
	color: #333;
	margin-top: 0;
}
h3 {
	font: 10pt "Inconsolata";
}
b {
	color: #C3494E;
}
i {
	color: #018BA1;
}
a {
	color: #A68FA9;
	text-decoration: none;
}

#nav a:hover {
	color: #FFF4B3;
	text-decoration: none;
}
.one {
	color: #7EA79D;
}
.two {
	color: #678792;
}
textarea {
	background: #F2D2E1;
	font: 12pt Arial;
	border: 1px solid #C1276D;
	color: #C3494E;
}