		/* Default Font Settings */

		body{
			color:#000000; 
			font-size:12pt;
			font-family:source sans pro;}
		a:link{
			color:#16a085;}
		a:visited{
			color:#16a085;}
		a:hover{
			color:#bdc3c7;
			text-transform:underline;}

		 /* Headers */

		 h1{
		 	color:#6699cc;
		 	font-size: 18pt;
		 	letter-spacing: 2px;}

		 /* Navigation Bar */

		 .topnav {}
		 .topnav a:active, .topnav a:link, .topnav a:visited {
			/*display: block; helpful for other nav*/
			color: #9e9e9e;
			text-decoration: none;
			margin-right: 30px;
			margin-left: 30px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
			line-height: 30px;}
		.topnav a:hover {
			border-bottom:thin solid #999999;
			margin-right: 30px;
			margin-left: 30px;
			margin-top: 5px;
			margin-bottom: 5px;
			color: #333333;}

		/* Site Layout CSS */

		#headerlinebreak {
			width:100%;
			background: url(/img_site/sitebg.jpg);
			font-size:5pt;}

		/* Image Layout CSS */

		#indexbtmimg {
			position:fixed;
			width:400px;
			height:400px;
			z-index:15;
			bottom:50%;
			right:50%;
			margin:-200px, 0, 0, -200px;

			/* height:100%; */
		}


