		/* pd code RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

		/* Default Font Settings */

		body{
			color:#000000; 
			font-size:12pt;
			font-family:source sans pro;}
		a:link{
			color:#16a085;}
		a:visited{
			color:#16a085;}
		a:hover{
			color:#bdc3c7;
			text-transform:underline;}

		 /* Headers */

		 h1{
		 	color:#6699cc;
		 	font-size: 18pt;
		 	letter-spacing: 2px;}

		 /* Navigation Bar */

		 /*#navbox {
		width: 100%;
		margin-bottom: 50px;
		background: #ffffff;
		overflow: hidden;
		padding: 0px;
		}*/

		 .topnav {
		width: 100%;
		margin-bottom: 0px;
		background: rgba(255, 255, 255, .4);
		overflow: hidden;
		padding-top: 20px;
		padding-bottom: 20px;
		 }
		 .topnav a:active, .topnav a:link, .topnav a:visited {
			/*display: block; helpful for other nav*/
			color: #bbbbbb;
			text-decoration: none;
			margin-right: 30px;
			margin-left: 30px;
			margin-top: 5px;
			margin-bottom: 5px;
			text-align: center;
			line-height: 30px;}
		.topnav a:hover {
			border-bottom:thin solid #e1e2ab;
			margin-right: 30px;
			margin-left: 30px;
			margin-top: 5px;
			margin-bottom: 5px;
			color: #444444;}

		/* Site Layout CSS */

		#headerlinebreak {
			width:100%;
			background: url(/img_site/sitebg.jpg);
			font-size:5pt;}

		/* Image Layout CSS */

		#indexbtmimg {
			position:fixed;
			width:400px;
			height:400px;
			z-index:15;
			bottom:50%;
			right:50%;
			margin:-200px, 0, 0, -200px;

			/* height:100%; */
		}


